<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Zhenhai Dashboard</title>

  <link rel="stylesheet" type="text/css" href="/assets/sementicUI/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="/assets/custom/css/custom.css">
  <link rel="stylesheet" type="text/css" href="/assets/jQueryUI/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/select2-3.5.1/select2.css">


  <script src="/assets/lib/javascript/jquery-2.1.1.js"></script>
  <script src="/assets/lib/javascript/d3.v3.min.js"></script>
  <script src="/assets/jQueryUI/jquery-ui.min.js"></script>
  <script src="/assets/jQueryUI/datepicker-zh-TW.js"></script>
  <script src="/assets/select2-3.5.1/select2.min.js"></script>
  <script src="/assets/select2-3.5.1/select2_locale_zh-TW.js"></script>

  <script src="/assets/custom/javascript/chart.js"></script>
  <script src="/assets/custom/javascript/steps.js"></script>
  <script src="/assets/custom/javascript/table.js"></script>

  <script src="/assets/sementicUI/javascript/semantic.js"></script>

  <style>
.barChart rect {
  fill: steelblue;
}

.barChart text {
  fill: black;
  font: 16px sans-serif;
  text-anchor: middle;
}

.barChart rect:hover {
  fill: brown;
}

.slice path:hover {
  fill: brown;
}

  </style>

</head>
<body>
  <div class="ui fixed transparent inverted main menu">
    <div class="container">
      <a href="/" class="item"><div class="ui header">Zhenhai Dashboard</div></a>
      <div class="right menu">
        <div class="item">每日報表</div>
        <div class="ui simple dropdown item">
          <div><i class="ui large list icon"></i></div>
          <div class="menu">
            <!-- <a class="item" href="/user">個人頁</a> -->
            <a class="item" href="/user/logout"><i class="ui sign out icon"></i> 登出</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="center aligned one column ui grid" style="padding-top:60px; padding-bottom:20px">
    <div class="column">
      <div class="ui three steps">
        <% for (var i = 0; i < steps.length; i++) { %>
          <div data-defaultName="<%= steps[i].title %>" id="<%= 'step' + i %>" class="ui <%= steps[i].active %> step"><%= steps[i].title %></div>
        <% } %>
      </div>
    </div>
    <div class="column">
      <a href="<%= csvURL %>" class="ui right floated button">Export CSV File</a>
    </div>
  </div>

  <div class="ui grid">

    <div class="four wide column">
      <div id="datepicker"></div>
      <div class="ui vertical menu">
        <div class="header item">機器列表</div>
        <div class="item">
          <select id="machineList">
            <% for (var i = 0; i < machineList.length; i++) { %>
              <option><%= machineList[i] %></option>
            <% } %>
          </select>
        </div>
      </div>
    </div>

    <div class="twelve wide column data">
      <div class="ui center aligned one column grid" id="loadingIndicator">
        <div class="column">
          <div><i class="huge circular loading icon"></i></div>
          <div style="margin-top: 1em">讀取中……</div>
        </div>
      </div>
      <div class="ui one column page grid" style="display: none;" id="notFoundBlock">
        <div class="column">
          <div class="ui icon error message">
            <i class="inbox icon"></i>
            <div class="content">
              <div class="header">查無資料</div>
              <p>無法查詢到相關資料，請確定是否選擇了正確的日期與機器。</p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui center aligned one column grid" id="loadingIndicator">
        <div>Loading....</div>
      </div>
      <div class="ui center aligned two column grid data" style="display: none">

        <div class="column">
          <div class="container" style="overflow:auto; width: 100%; padding-left: 15px; padding-right: 15px">
            <svg class="barChart"></svg>
          </div>
        </div>

        <div class="column"><svg class="pieChart"></svg></div>
      </div>
      <div class="data" style="display: none">
        <table class="ui celled table segment">
          <thead>
            <tr>
              <th>時間</th>
              <th>量品數量</th>
              <th>事件數量</th>
              <th>事件類別</th>
            </tr>
          </thead>
          <tbody id="table"></tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    
    $("#datepicker").datepicker({
      firstDay: 0,
      onSelect: function(dateText, inst) {

        function strToDate(dateString) {
          var columns = dateString.split("/");
          return new Date(columns[0], +(columns[1]-1), columns[2]);
        }

        function getWeek(isoDate) {
          var date = isoDate.getDate();
          var day = isoDate.getDay();
          return Math.ceil((date - 1 - day) / 7) + 1;
        }

        var isoDate = strToDate(dateText);

        var url = "/daily/" + isoDate.getFullYear() + "/" + (+isoDate.getMonth()+1) + 
                  "/" + isoDate.getDate() + "/" + "<%= productMachine %>";

        window.location = url;
      }
    });

    $("#datepicker").datepicker("setDate", new Date(<%= fullYear %>, <%= (+month - 1) %>, <%= date %>));

    setupMachineList(
      '#machineList', '<%= productMachine %>',
      "/daily/" + <%= fullYear %> + "/" + <%= month %> + "/" + <%= date %>
    );
  </script>
  <script>
    $(function() {



      function toPieChartData(dataJSON) {
        var data = {};
       
        function addToData(name, value) {
          if (data[name]) {
            data[name] = (+(data[name]) + value)
          } else {
            data[name] = +value
          } 
        } 

        for (var i = 0; i < dataJSON.length; i++) {
          if (+(dataJSON[i].bad_qty > 0)) {
            addToData(dataJSON[i].defact_id, dataJSON[i].bad_qty);
          }
        }

        var pieChartData = [];
        var keys = Object.keys(data)
        for (var i = 0; i < keys.length; i++) {
          pieChartData.push({
            label: keys[i],
            value: data[keys[i]]
          });
        }

        return pieChartData;
      }

      function toBarChartData(dataJSON) {
        var data = {};
       
        function addToData(name, value) {
          if (data[name]) {
            data[name] = (+(data[name]) + value)
          } else {
            data[name] = +value
          } 
        } 

        for (var i = 0; i < dataJSON.length; i++) {
          var hours = dataJSON[i].timestamp.substring(11, 13);
          addToData(hours + ":00", dataJSON[i].count_qty);
        }

        var barChartData = [];
        var keys = Object.keys(data)
        for (var i = 0; i < keys.length; i++) {
          barChartData.push({
            time: keys[i],
            qty: data[keys[i]]
          });
        }

        return barChartData;
      }


      function toTableSchema(dataJSON) {
        return {
          data: dataJSON.dataSet,
          extractors: [
            function (data) { return data.timestamp },
            function (data) { return data.count_qty; },
            function (data) { return data.bad_qty; },
            function (data) { return data.bad_qty == 0 ? "" : data.defact_id; }
          ]
        }
      }

      $.ajax("<%= dataURL %>", {timeout: 30 * 1000}).done(function(data) {

        if (!data.dataSet || data.dataSet.length == 0) {
          $('#notFoundBlock').show();
          return;
        }

        if (data.steps) { 
          setStepsTitle("step", data.steps) 
        }

        setTable("#table", toTableSchema(data));

        var drawPieChart = pieChart({
          width: 250,
          height: 250,
          radius: 100,
          extractValue: function(data) { return data.value; },
          extractName: function(data) { return data.label; }
        })

        drawPieChart(".pieChart", toPieChartData(data.dataSet));

        var drawBarChart = barChart({
          totalHeight: 300,
          barWidth: 50,
          barPadding: 20,
          topMargin: 20,
          bottomMargin: 20,
          extractValue: function(data) { return data.qty },
          extractName: function(data) { return data.time }
        })

        drawBarChart(".barChart", toBarChartData(data.dataSet));

        $(".data").show();

      }).error(function() {
        $('#notFoundBlock').show();
      }).always(function() {
        $("#loadingIndicator").hide();

      });
    });
  </script>
</body>

</html>
